* {
  font-family: 'Kodchasan', sans-serif !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Kodchasan', sans-serif;
  background: #eeeff1;
}

div, p, h1, h2, h3, h4, h5, h6, span, a, button, input, textarea, label, select {
  font-family: 'Kodchasan', sans-serif !important;
}

code, pre {
  font-family: 'Kodchasan', monospace !important;
}

button{
  transition: 0.3s;
}
button:hover{
  opacity: 0.75;
}